.thumbnail img{
    width:100%;
    /* height: 200px; */
}

#pad.thumbnail{
    padding: 0;
}

#del {
    display: inline-block;
}

.button-margin {
    display: inline-block;
    margin-bottom: 1rem;
    margin-right: 1rem;
    background-color: transparent;
    color: black;
    border: none;
    outline: none;
}

.del {
    display: inline-block;
}

.button-margin:hover {
    text-decoration: none;
    color: black;
}

.img-grid {
    display:flex;
    flex-wrap: wrap;
}